* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#container {
    width: 80vw;
    height: 70vh;
    background-color: #ddd;
}

#controls {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
